/* Font syles css */
@font-face {
    font-family: mont-medium;
    src: url('../font/mont/Montserrat-Medium.ttf');
}
@font-face {
    font-family: mont-regular;
    src: url('../font/mont/Montserrat-Regular.ttf');
}
@font-face {
    font-family: mont-black;
    src: url(../font/mont/Montserrat-Black.ttf);
}
@font-face {
    font-family: mont-thin;
    src: url(../font/mont/Montserrat-Thin.ttf);
}
@font-face {
    font-family: logo-font;
    src: url(../font/paci/Pacifico-Regular.ttf);
}

/* End font styles css */

*{margin:0; padding:0; box-sizing: border-box;}

body, html{
    height: 100%;
    color: white;
    letter-spacing: 1px;
    background-color: #000;
    font-family: mont-regular;
    
}

main{ 
    background-color: rgb(14, 13, 13);
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%; 
    font-size: 20px;
    text-align: center;
}
section{
    background-color: rgba(0, 0, 0, 0.89);
    padding: 0% 10% ;
    height: 100%;
}


.top-bar{
    margin-bottom: 100px;
}
.logo a p{
    font-family: logo-font;
    float: left;
    text-decoration: none;
    color:rgb(199, 13, 13) ;
    font-size: xx-large;
}



.logo:focus a{
    color: #ffffff;
}



nav{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin: 20px 0 0 20px ;  
    padding: 3%;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    
}
/* nav  #portfolio{
    border-right: 2px solid white;
    border-left: 2px solid white;
} */

nav a:hover{
    padding: 2%;
    
    color: rgb(199, 13, 13);
}
/* aside{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;

} */





.navContainer{
    position:relative;
    display: none;
}

.navBars{
    cursor: pointer;
    width:fit-content;
    margin: 0 auto 15px;
    
}
.bar1, .bar2, .bar3{
    background-color: white;
    width: 35px;
    height: 3px;
    margin:6px 0;
    border-radius:20px;
    transition: 0.5s;
}
.bar1, .bar3{
    transform: translate(6px, 0);
}
.move .bar1{ 
    transform: translate(0px, 4px) rotate(45deg) ;
    background-color:rgb(199, 13, 13);
}
.move .bar2{ opacity: 0;}
.move .bar3{ 
    transform: translate(0px, -9px) rotate(-45deg); 
    background-color:rgb(199, 13, 13);
}


.navContainer .navContent{
    display:none;
    background-color: #333;
    box-shadow: 2px 2px 5px 0px #333;
    
}
.navContainer .navContent a{
    display: block;
    color: white;
    text-decoration: none;
    padding:10px;
}
.navContainer.move .navContent{
    display:block;
   
}


#portfolioMenu .bar1{ 
    transform: translate(0,8px) rotate( 45deg) ;
    background-color:rgb(199, 13, 13);
}
#portfolioMenu .bar2{ 
    transform: rotate(-55deg);
    background-color:rgb(199, 13, 13);
}

/* .presentPage{
    font-size: 120%;
    color: rgb(199, 13, 13);
    /* font-family: Arial, Helvetica, sans-serif; 
} */

.projectContainer {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    margin-top: 20px;   
}
.projectCard{
    border-spacing: 5px;
    margin: 5%;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.projectCard img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.projectContent{
    position: absolute;
    top: 0;
    left: 0;
    padding-top:10% ;
    font-size: 230%;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100%;
    display: none;
    text-decoration: none;
    
}
.projectCard:hover .projectContent{
    color: white;
    display: block; 
    
}





/* about page*/


.aboutPageContainer{
    display: grid;
    grid-template-columns:35% 62% ;
    margin: 3% 0;
    justify-items: center;
    column-gap: 2%;
    
    
}
.aboutPageContainer figure{
    height: 300px;

}
.aboutPageContainer img{
    border-radius: 10px;
    height: 100%;
    box-shadow: -6px -6px 2px rgba(228, 216, 168, 0.897);
    
}
.aboutPageContainer b{
    color: #ad0b0b;
    list-style: none;
}


.aboutPageContent {
    text-align: left;
}

.name{
    font-family: mont-medium;
}



p{
    
    font-size: small;
    color: rgb(206, 200, 200);
}
.redText{
    color: #da0e0e;
    font-size: large;
    font-weight: bolder;

}

.introduction{
    border-bottom: 1px solid rgb(49, 45, 45) ;
    margin-bottom: 30px;
}
.aboutPageContent button, #submit {
    padding: 15px 35px;
    border-radius: 50px;
    color: white;
    border: none;
    background-color:#f10c0ce5;
    
}

.aboutPageContent button:hover{
    background-color:#b60c0c;
    transform: translateY(5px);
    
}
.aboutPageContent button:focus  {
    transform: translateY(5px);
}

.flexbox{
    display: flex;
}

.line{
    width: 80px;
    height: 2px;
    background-color: rgb(68, 62, 62);
    margin: auto 10px;
}

.flexbox a i{
    /* background-color: white; */
    margin: 8px 10px;
    color: rgba(238, 231, 231, 0.918);
    font-size: 20px;
}
.flexbox a i:hover{
    color: #b60c0c;;
}

#getInTouch{
    font-size: 60px;
    font-family: mont-medium;
}
.contactPageContainer{
    margin: 100px 0;
}
.contactPageContainerGrid{
    margin-top: 50px;
    display: grid;
    text-align: left;
    column-gap: 10px;
    grid-template-columns: 60% 40% ;
    
}
.contactPageContainerGrid form > input, #formMessage{
    background-color: rgba(68, 62, 62, 0.26);
    border: none;
    padding: 15px;
    margin: 10px 0;
    width: 95%;
    color: white;
}
#formName , #formEmail{ width: 47%;}


.contactInfo{
    line-height: 30px;
}
.contactInfoGrid{
    margin-top: 20px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 20% 70%;
    
}
.contactInfoGrid i {
    color:#ad0b0b;
    border-right: 1px solid white;
    margin-right: 20px;
    padding: 10px 20px 40px;
    text-align: right;
   
}
#submit{width: 200px;}


.toolsContainer{
    margin: 100px 0;
    text-align: left;
}

/* changing the background color for the progress bar */

/* for IE10 NB: this has to be set for the
 configuration on other browsers to work */
 progress {    
    background-color: #ad0b0b;
    height: 10px;
    width: 400px;    
}

progress::before{
    content: 80;
    color: white;
}

/* for chrome and safari */
progress::-webkit-progress-value{ background-color: #ad0b0b; }

/* for firefox  */
progress::-moz-progress-bar{ background-color: #ad0b0b;}








@media screen and (max-width:800px) {
    section{
        padding: 0 5%;
    }
    .projectContainer{
        grid-template-columns:1fr;   
    }
    .aboutPageContainer{
       margin: 40px 0;
        
        
    }
    .aboutPageContainer figure{
        margin: auto;
        height: 200px;
         
         
     }
    
}




@media screen and (max-width:500px){
    nav{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        padding: 25px 0 3%;
        margin: 0;
    }
    .hidden{
        display: none;
    }
    .navContainer{
        display:block;
        /* justify-self: center; */
    }
    

    .projectContent{
        font-size: 150%;
        font-weight: bolder;
        letter-spacing: 1px;
        padding-top:5%;   
    }

    .aboutPageContainer{
        grid-template-columns: 100%;
    }
    .aboutPageContainer figure{
        height: 200px;
        margin-top: 20px;
    }
    .aboutPageContainer img{
        border-radius: 100%;
        height: 90%;
        box-shadow: none;

    }

    .tools{
        grid-template-columns: 1fr;
    }

}