*{margin:0; padding:0; box-sizing: border-box;}

body, html{
    height: 100%;
    color: white;
    letter-spacing: 1px;
    background-color: #000;
    
}

main{
    background-image: url('bg.jpg');
    background-color: rgb(14, 13, 13);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%; 
    font-size: 20px;
    text-align: center;
    /* color:rgba(228, 216, 168, 0.897) ; */
}
section{
    background-color: rgba(0, 0, 0, 0.89);
    padding: 0% 10% ;
    height: 100%;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5%;  
    padding: 3%;
}
nav a{
    text-decoration: none;
    color: white;
    
}
nav a:nth-child(2){
    border-right: 2px solid white;
    border-left: 2px solid white;
}

nav a:hover{
    padding: 2%;
    
    color: rgb(199, 13, 13);
}
aside{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;

}
#name{
    /* text-align: center; */
    font-size: 30px;
}
/* .content{
    margin: 15% ;
    text-align: center;
    
}
.content h1{
    font-weight:900;
    font-size: 80px;
    letter-spacing: 1px;
} */

.presentPage{
    font-size: 120%;
    color: rgb(199, 13, 13);
    font-family: Arial, Helvetica, sans-serif;
}

.projectContainer {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    margin-top: 20px;   
}
.projectCard{
    border-spacing: 5px;
    margin: 5%;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.projectCard img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.projectContent{
    position: absolute;
    top: 0;
    left: 0;
    padding-top:10% ;
    font-size: 230%;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100%;
    display: none;
    text-decoration: none;
    
}
.projectCard:hover .projectContent{
    color: white;
    display: block; 
    
}

/* about page*/
.aboutPageContainer{
    display: grid;
    grid-template-columns:35% 62% ;
    margin: 3% 0;
    justify-items: center;
    column-gap: 2%;
    
    
}
.aboutPageContainer figure{
    /* margin: 5% auto; */
    height: 300px;

}
.aboutPageContainer img{
    border-radius: 10px;
    height: 100%;
    box-shadow: -6px -6px 2px rgba(228, 216, 168, 0.897);
    
}
.aboutPageContainer b{
    color: rgb(173, 11, 11);
    list-style: none;
}

.aboutPageContent button{
    padding: 2% ;
    border-radius: 10px;
    border: none;
    box-shadow: -2px 2px   white;
    background-color:rgba(228, 216, 168, 0.897);
}
.aboutPageContent button:hover{
    box-shadow: -3px 3px   white;
    font-size: x-small;

}


.tools{
    display: grid;
    grid-template-columns:  1fr 1fr;
    row-gap: 20px;
    column-gap: 5%;
    margin-top:2% ;
    margin-bottom: 40px;
    --fa-animation-delay: 10s;
    --fa-animation-duration: 1s;
    --fa-animation-iteration-count:3;


}

.eachtool{
    display: grid;
    grid-template-columns:1fr 3fr ;
    
}
.tools > i , #contact i{
    margin: 2% 5%;
}
   
.tools progress{
    height: 25px;
    width: 100%;
    color: black;
    text-align: end;
   
}
#html::after,#css::after, #javascript::after, #figma::after, #github::after{
    font-size: 15px;
    display: inline-block;
    font-weight: 900;   
}
#html::after, #css::after, #github::after{content:'80%'}
#javascript::after, #figma::after{content:'70%'}

.fa-css3, .fa-linkedin{
    color: blue;
}
.fa-js{   
    color: yellow;
}
.fa-html5, .fa-envelope{
    color: orangered;
}

#contact a:hover{
    font-size: large;
}





@media screen and (max-width:800px) {
    section{
        padding: 0 5%;
    }
    .projectContainer{
        grid-template-columns:1fr;   
    }
    .aboutPageContainer{
       margin: 40px 0;
        
        
    }
    .aboutPageContainer figure{
        margin: auto;
        height: 200px;
         
         
     }
    
}




@media screen and (max-width:500px){
    .projectContent{
        font-size: 150%;
        font-weight: bolder;
        letter-spacing: 1px;
        padding-top:5%;   
    }

    .aboutPageContainer{
        grid-template-columns: 100%;
    }
    .aboutPageContainer figure{
        height: 200px;
        margin-top: 20px;
    }
    .aboutPageContainer img{
        border-radius: 100%;
        height: 90%;
        box-shadow: none;

    }
    /* .content h1{
        font-weight:700;
        font-size: 40px;
       
    }
    .content{
        margin: 20% 0% ;
        
    } */

    .tools{
        grid-template-columns: 1fr;
    }

}